#nav-panel.navbar-default.navbar-static-top(role="navigation")
    .container
        .navbar-header.col-md-2
            a.navbar-brand(href="/") 资源管理系统
        .navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
                if user
                    li.dropdown
                        a.dropdown-toggle(href="#" data-toggle="dropdown")
                            span.glyphicon.glyphicon-plus
                            span 新建
                            span.caret
                        ul.dropdown-menu(role="menu")
                            if (user.role == 0)
                                li
                                    a(href="/admin/line/new") 新建业务线
                                li.divider
                                li
                                    a(href="/admin/issue/new") 新建需求
                            else
                                li
                                    a(href="/admin/issue/new") 新建需求
                    if (user.level === 100)
                        li.dropdown
                            a.dropdown-toggle(href="#" data-toggle="dropdown")
                                span 管理员入口
                                span.caret
                            ul.dropdown-menu(role="menu")
                                li
                                    a(href="/admin/line/list") 业务线管理
                                li.divider
                                li
                                    a(href="/admin/issue/list") 需求管理
                                li.divider
                                li
                                    a(href="/admin/user/list") 用户管理
                li.user-info
                    if user
                        p.navbar-text.navbar-right
                            span 欢迎您：#{user.name}
                            span &nbsp;|&nbsp;
                            a.navbar-link(href="/logout") 登出
                    else
                        p.navbar-text.navbar-right
                            a.navbar-link(href="#",data-toggle="modal",data-target="#signupModal") 注册
                            span &nbsp;|&nbsp;
                            a.navbar-link(href="#",data-toggle="modal",data-target="#signinModal") 登录
#leftBar
   div.left_menu_top
       ul.left_menu_module
           li
               a.active(href="/admin/line/list/my")
                   i.glyphicon.glyphicon-dashboard
                   span 我的任务
           li
               a(href="/admin/line/my")
                   i.glyphicon.glyphicon-user
                   span 我的业务线
           li
               a(href="/admin/all/issue/line")
                   i.glyphicon.glyphicon-eye-open
                   span 发现
           li.occupy
               a(href="#")
                   i.glyphicon.glyphicon-list
                   span 资源占用
                   i.downmenu
               if user
                   ul.line-list-left
                       li
                            a(href="/admin/line/role")
                                i.more
                                span 更多
   div.left_menu_bot
#signupModal.modal.fade
    .modal-dialog
        .modal-content
            form(method="POST",action="/user/signup")
                .modal-header 注册
                    .modal-body
                        .form-group
                            label(for="signupName") 用户名
                            input#signupName.form-control(name="user[name]",type="text")
                        .form-group
                            label(for="signupPassword") 密码
                            input#Password.form-control(name="user[password]",type="password")
                        .form-group
                            label 我的职业
                            select(name="user[role]").form-control
                                option(value="0") 产品经理
                                option(value="1") 交互设计师
                                option(value="2") 视觉设计师
                                option(value="3") 前端开发工程师
                                option(value="4") 研发工程师
                                option(value="5") 测试工程师
                .modal-footer
                    button.btn.btn-danger(type="button",data-dismiss="modal") 关闭
                    button.btn.btn-success(type="submit") 提交
#signinModal.modal.fade
    .modal-dialog
        .modal-content
            form(method="POST",action="/user/signin")
                .modal-header 登录
                    .modal-body
                        .form-group
                            label(for="signinName") 用户名
                            input#signinName.form-control(name="user[name]",type="text")
                        .form-group
                            label(for="signinPassword") 密码
                            input#signinPassword.form-control(name="user[password]",type="password")
                .modal-footer
                    button.btn.btn-danger(type="button",data-dismiss="modal") 关闭
                    button.btn.btn-success(type="submit") 登录