extends ../layout

block content
    .container
        .row
            .col-md-7
            .col-md-5
                dl.dl-horizontal
                    dt 业务名称
                    dd= line.title
                    dt 业务描述
                    dd= line.desc

